Import pandas
Pandas is usually imported under the pd alias.

In [ ]:
import pandas as pd
print('Pandas version:', pd.__version__)

Pandas version: 1.1.5

In [ ]:
#Create an Empty Series
s=pd.Series()
print(s)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
##Create pandas series from a ndarray
import numpy as np
arr=np.array(['h','e','l','l','o'])
print("NDARRAY: ",arr)
pdseries=pd.Series(arr)
print("pd Serires:\n",pdseries)

NDARRAY:  ['h' 'e' 'l' 'l' 'o']
pd Serires:
 0    h
1    e
2    l
3    l
4    o
dtype: object

In [ ]:
#pass index
pdseries2=pd.Series(arr,[100,200,300,400,500])
print("pdseries with index: \n ",pdseries2)

pdseries with index:  100    h
200    e
300    l
400    l
500    o
dtype: object

In [ ]:
#Create pandas series from a list
x=[10,23,45,50]
print('List:', x)
y=pd.Series(x)
print('Series:\n',y)

List: [10, 23, 45, 50]
Series:
 0    10
1    23
2    45
3    50
dtype: int64

**Excercise 1:** Create a series from dictionary

In [ ]:
#Accessing Data from Series with Position
arr=np.array([1,2,3,4,5])
pdseries=pd.Series(arr,index = ['a','b','c','d','e'])
print("Series\n",pdseries)
#Print the first element
print("The first element is:",pdseries[0])
print("Retrieve The first element with label:",pdseries['a'])

Series
 a    1
b    2
c    3
d    4
e    5
dtype: int64
The first element is: 1
Retrieve The first element with label: 1

In [ ]:
x=[10,23,45,50]
y=pd.Series(x,['pen','pen','pencil','pencil'])
print(y)

pen       10
pen       23
pencil    45
pencil    50
dtype: int64

In [ ]:
# Once the labels are creates, you can access an item by referring to the label.
print('Entries corresponding to Pen: \n',y['pen'])
print('Entries corresponding to Pencil: \n',y['pencil'])

Entries corresponding to Pen:
 pen    10
pen    23
dtype: int64
Entries corresponding to Pencil:
 pencil    45
pencil    50
dtype: int64

In [ ]:
marks={"ram":50,"balu":25,"sita":45}
M=pd.Series(marks)
print(M)

ram     50
balu    25
sita    45
dtype: int64

In [ ]:
#Create an Empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#Create a DataFrame from Lists
list=[1,2,3,4,5]
print("List: ",list)
df=pd.DataFrame(list)
print("Dataframe:\n",df)

List:  [1, 2, 3, 4, 5]
Dataframe:
    0
0  1
1  2
2  3
3  4
4  5

In [9]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
data={ "Physiscs":[50,45,35,42.5],
        "Biology": [50,45,35,25]
      }
D= pd.DataFrame(data)
print(D)

   Physiscs  Biology
0      50.0       50
1      45.0       45
2      35.0       35
3      42.5       25

In [7]:

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print("Entire dataframe: \n", df)

print( "The first column:\n",df ['one'])

Entire dataframe:
    one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
The first column:
 a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [23]:
#ADD Column
d={'col1': pd.Series([1,2,3],index=['a','b','c']),
     'col2': pd.Series([1,2,3,4,5],index=['a','b','c','d','e']) }
df=pd.DataFrame(d)
print("Original Dataframe:\n",df)
#Add col3
df['col3']=pd.Series([1,2,3,4,5],index=['a','b','c','d','e',])
print("Dataframe after adding a third column:\n",df)

print ("Adding a new column using the existing columns in DataFrame:")
df['col4']=df['col1']+df['col2']
print("After adding 4t column:\n",df)

Original Dataframe:
    col1  col2
a   1.0     1
b   2.0     2
c   3.0     3
d   NaN     4
e   NaN     5
Dataframe after adding a third column:
    col1  col2  col3
a   1.0     1     1
b   2.0     2     2
c   3.0     3     3
d   NaN     4     4
e   NaN     5     5
Adding a new column using the existing columns in DataFrame:
After adding 4t column:
    col1  col2  col3  col4
a   1.0     1     1   2.0
b   2.0     2     2   4.0
c   3.0     3     3   6.0
d   NaN     4     4   NaN
e   NaN     5     5   NaN

In [27]:
# Deleting a column
# using del function
print ("Deleting the first column using DEL function:")
del df['col1']
print (df)

Deleting the first column using DEL function:
   col2  col3  col4
a     1     1   2.0
b     2     2   4.0
c     3     3   6.0
d     4     4   NaN
e     5     5   NaN

In [ ]:
data={ "Height": [150,160,180,170],
        'weight': [52,60,75,69],
         "Age"  :[31,35,40,42]
      }
D= pd.DataFrame(data)
print('Entire Dataset:\n ',D)
print("First entry:\n",D.loc[0])

Entire Dataset:
     Height  weight  Age
0     150      52   31
1     160      60   35
2     180      75   40
3     170      69   42
First entry:
 Height    150
weight     52
Age        31
Name: 0, dtype: int64

In [ ]:
# With the index argument, you can name your own indexes.

D1=pd.DataFrame(data,index=['ram','shyam','sita','gita'])
print('Custom Labelled:\n ',D1)
print('Details of shyam:\n',D1.loc['shyam'])

Custom Labelled:
         Height  weight  Age
ram       150      52   31
shyam     160      60   35
sita      180      75   40
gita      170      69   42
Details of shyam:
 Height    160
weight     60
Age        35
Name: shyam, dtype: int64

In [ ]:
#Load CSV file
data=pd.read_csv('/content/drive/MyDrive/ML/18CS311_ML_LAB/LAB2/data.csv')
print(data) #to print a part of the dataset

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
#print the entire dataset
print(data.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
print(data.head(5))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None