In [2]:
#import statements
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("https://raw.githubusercontent.com/dupadhyaya/pyAnaltyics1/master/f1/phone_data.csv")

In [4]:
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [ ]:
def null_replace():
  # write your code here
  data['network'] = data['network'].fillna(data['network'].value_counts().index[0])
  data['network_type'] = data['network_type'].fillna(data['network_type'].value_counts().index[0])
  no_network = data['network'].value_counts()
  no_network_type = data['network_type'].value_counts()
  return no_network,no_network_type
null_replace()

(Vodafone     215
 Three        215
 data         150
 Meteor        87
 Tesco         84
 landline      42
 voicemail     27
 world          7
 special        3
 Name: network, dtype: int64, mobile       601
 data         150
 landline      42
 voicemail     27
 world          7
 special        3
 Name: network_type, dtype: int64)

In [10]:
def change_type():
 # write your code here
 data['date'] = pd.to_datetime(data['date'])
 return data.dtypes['date']
change_type()

dtype('<M8[ns]')

#3. The longest phone call - 1 Mark

#4. Split the month column to year and month_no and display how many entries are there in 2014 - 1 Marks

In [11]:
def month():
  # write your code here
  data[['year','month_no']]=data.month.str.split("-",expand=True)
  entries = data.loc[data['year']=='2014']
  count = entries.shape[0]

  return count
month()

387

In [20]:
def avg_2015():
  #write your code here
  #write your code here
  avg= data.loc[(data['year'] == '2015'),['duration']]
  avg = avg.mean()
  return round(avg,2)
avg_2015()

duration    127.53
dtype: float64

#6. What is the sum of durations, for calls only, to each network - 2 Marks

In [22]:
def sum_network():
  #write your code here
  Meteor = data[data['network'] == 'Meteor']['duration'].sum()
  Tesco =  data[data['network'] == 'Tesco']['duration'].sum()
  Vodafone =  data[data['network'] == 'Vodafone']['duration'].sum()
  return round(Meteor,1),round(Tesco,1),round(Vodafone,1)
sum_network()

(7233.0, 13841.0, 14770.0)

In [18]:
def december_landline():
  #write your code here
  data1 = data.loc[(data["month_no"]=="12")&(data["network"]=="landline")]
  val = data1["duration"].count()
  return val
december_landline()

7

In [21]:
def pair_val():
  # write your code here
  tempdata = data.loc[data['network'] == data['network_type']]
  val = tempdata.nunique()[-1]
  return val
pair_val()

5